<div class="container">
  <div class="row">
    <div class="col">
      <div class="card reviewCard" style = "background-color:#fcf8f3; color: #65625e;">
        {{!-- put a data attribute on the below div and an id, get the div, get the attribute (starts with data-) get the attribute off the element --}}
        <div class="text-center">
          <h2>Book Title</h2>
          <p>by</p>
          <h2>Author</h2>
          <img src="https://via.placeholder.com/150">
          <p>Brief Description of the book</p>
          <h2>BCC STAR RATING</h2>
          <h2>ISBN13 = {{ isbn }}</h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class ="card reviewCard" style = "background-color:#fcf8f3; color: #65625e;">
        <form id="blog-form">
            <div class="form-group">
              <label for="reviewTitle">Review Title</label>
              <input
                value="{{title}}"
                id="reviewTitle"
                name="reviewtitle"
                placeholder="Enter Review Title"
                type="text"
                required="required"
                class="form-control"
                data-bv-notempty="true"
                data-bv-notempty-message="The title cannot be empty" 
              />
            </div>

          <div class="form-group">
            <label for="review">Review</label>
            <textarea
              id="review"
              name="review"
              cols="40"
              rows="10"
              required="required"
              class="form-control"
            >{{content}}</textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <div class="card reviewCard" style = "background-color:#fcf8f3; color: #65625e;">
          <div>Spot for Existing reviews</div>
        </div>
    </div>
    
    </div>
  </div>
</div>

{{!-- add link to script to populate book info--}}
