    <div class="row">
        <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Card Text</p>
                <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
              </div>
            </div>
          </div>
        <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
                <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
                <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
                <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
                <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
                <div class="col-sm">
          <div class="card" style = "background-color: #fcf8f3;">
            <img src="..." class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card Text</p>
              <a href="#" class="btn btn-primary" style = "background-color: #65625e; border-style: none;">Read More</a>
            </div>
          </div>
        </div>
      </div>