body {
  background-image: url("../../images/books.jpg") ;
  background-attachment: fixed;
  color: #65625e;
  font-family: poiret-one,sans-serif;
  font-weight: 400;
  font-style: normal;

}
.navbar {
  padding: 10px 10px 10px 10px;
  font-family: farm-new,sans-serif;
  font-weight: 300;
  font-style: normal;
  position: sticky;
  color: #65625e;
  background-color: #fcf8f3;

}

button.btn {
  background-color: #65625e;
  color: #fcf8f3;
  border: none;
  margin: 5px;
  border-radius: 1rem;
  font-size: 15px;
  font-family: farm-new,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button.btn:hover{
  cursor: pointer;
}

.navbar-nav {
  margin-left: auto;
}

input {
  border-radius: 1rem;
  background-color: rgb(255,255,255,0.95);
  padding: 5px;
  border-style:solid;
}

main.container {
  background-color: rgb(255,255,255,0.80);
  border-radius: 1rem;
  margin-top: 2%;;
  color: #65625e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: century-gothic,sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* This formats the Title of the Book after search */
h2 a {
  color: #65625e;
  text-align: center;
  font-family: century-gothic,sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* This formats the style for the Author's name after the Book Search */
.authorstyle {
  font-size:larger;
  margin: 2px;
}


button.btn:hover {
  background-color: #65625e;
  color: #fcf8f3;
  border: none;
  margin: 5px;
  border-radius: 1rem;
  font-size: 15px;
}

.col-sm {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  padding: 20px;
}

.reviewCard {
  margin: 40px;
  background-color:#fcf8f3;
  color: #65625e;
}